header {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    background-color: var(--elements);
    height: 10vh;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 1rem 1px;;

    a {
        text-decoration: none;
        color: var(--text);
        font-weight: bold;
    }

    button {
        background-color: transparent;
        color: var(--text);
        border: none;
        cursor: pointer;
    }
}
