@import "./config-scss/rem-calc.scss";
@import "./config-scss/reset.scss";
@import "./config-scss/variables.scss";

* {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--background);
}

body {
    height: 100vh;
}